*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #FFFEEC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft-perfil{
    /*border-radius: 50%;*/
    margin-top: 15px;
    width: 80%;
}

.nome{
    font-size: 50px;
    font-weight: bold;
    color: #629922;
}

.subtitulo{
    font-size: 20px;
    color: #94c75a;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.titulo-card{
    font-size: 30px;
    color: #3e7202;
}

.subtitulo-card{
    font-size: 15px;
    color: #61b4f0;
    font-weight: bold;
}

.cards button{
    background: none;
    width: 350px;
    height: 200px;
    margin-bottom: 14px;
    margin-left: 7px;
    margin-right: 7px;
    border: 4px solid black;
    border-color: #F6F49D;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 3px 3px 5px #F6F49D;
}

.cards button:hover{
    background: #ddfdc6;
}

.cards-top{
    display: flex;
    flex-direction: row;
}

.cards-bottom{
    display: flex;
    flex-direction: row;
}